.products-container {
  width: 100%;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

.product-card {
  width: 90%;
}

.product-card img {
  width: 50%;
  height: 250px;
}

.product-details {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Media Queries */
@media (max-width: 1200px) {
  .products-grid {
    gap: 0px;
    margin: 0px;
  }
  /* .product-card {
    width: 100%;
  } */
}

@media (max-width: 1090px) {
  .product-card {
    width: 95%;
    gap: 10px;
  }
  .product-card img {
    width: 70%;
    height: 250px;
  }
}

@media (max-width: 869px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
  .product-card img {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
  .product-card img {
    width: 90%;
  }
}
